* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
.head{
    background-color:#f3f3f3 ;
    background-position: center;
    width: 100%;
    padding: 8px;
    text-align: center;
}

li,a,button{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-size: 14px;
    color:#66668e;
    text-decoration: none;
    list-style: none;
    
}
.menu1 li a{
    color: #5a5a5d;
    margin-right: 35px;
    text-decoration: underline;
}
.menu1 li a:hover{
    transition: 0.5s;
    
}
li.a::before{
    content:"";
    position: relative;
    bottom: -2px;
    height: 6px;
    width: 100%;
    background:rgb(60, 60, 242); ;
    border-radius: 50px;
    transform: scaleX(0);
    transition: transform 0.2 linear;
}
a:hover::before{
    transform: scaleX(1);
}
.menu1 ul{
    display: flex;
    justify-content:flex-start;
    padding: 5px;
    align-items: center;
    margin-left: 30px;
}
.menu1 button{
    padding: 5px 15px;
    color: rgb(60, 60, 242);
    background-color:#ffffff ;
    border-radius: 30px;
    border-color: rgb(60, 60, 242);
    cursor: pointer;
    transition: all 0.1s ease 0;
}
button:hover{
    background-color:rgb(60, 60, 242); 
}

.head{
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
}
.menu2 a{
    color: #5a5a5d;
    margin-right: 35px;
 }
.nav1 ul{
    display: flex;
    justify-content:flex-start;
    padding: 5px;
    align-items: center;
    margin-left: 30px;
}
.nav1 li a{
    color: #5a5a5d;
    margin-right: 35px;
}
.head1{
    display: flex;
    justify-content:flex-start;

}
.nav1 ul{
    margin-top: 20px;
}
span{
    width: 15px;
}
.internet a{
    font-size: 16px;
    color:rgb(60, 60, 242);  
    font-weight: 600;
    margin-top: 25px;
    

}
.internet{
    display: flex;
    justify-content: flex-end;
   
}
.head1 a{
    color: #3a04ec;
    transition: all 0.4s linear;
}
.head1 li a:hover{
  color:#f4f4f8  ;
}
.head2 a{
    position: relative;
    font-size: 14px;
    color:#5a5a5d ;
    font-weight: 400;
    text-decoration: none;
}
.head2 a::before{
    content: "";
    position: absolute;
    bottom: -2px;
    height: 4px;
    margin-bottom: -30px;
    width: 0;
    background: #4747e3;
    border-radius: 70px;
    transition: 0.3s;

}
.head2 a:hover::before{
    width: 100%;
}
.head2  li a{
    margin-right: 35px;
    display: flex;
    justify-content: left;
}
.head2{
    border: 5px;
    border-color:#5a5a5d ;
}
.head2 ul{
    display: flex;
    justify-content:flex-start;
    padding: 5px;
    align-items: center;
    margin-left: 30px;
    }

